.menu__overlay {
  position: fixed;
  top: var(--navigation-height);
  background-color: hsl(var(--mid-blue));
  left: 0;
  height: calc(100% - var(--navigation-height));
  width: 100%;
  opacity: 0;
  transform: translateX(100%);
  touch-action: none;
  pointer-events: none;
  transition: transform 420ms var(--transition-easing), opacity 240ms var(--transition-easing);
  z-index: 10;
}
.menu[data-opened='true'] .menu__overlay {
  opacity: 1;
  transform: translateX(0);
  touch-action: auto;
  pointer-events: auto;
}

.menu__overlay-wrapper {
  display: flex;
  flex-direction: column;
  gap: 100px;
  height: 100%;
  width: 100%;
  padding: 50px;
  @media (min-width: 992px) {
    flex-direction: row;
  }
}

.menu__navigation {
  position: relative;
  flex: 1 1 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.menu__navigation::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background-color: hsl(var(--primary));
  @media (min-width: 992px) {
    top: 0;
    width: 3px;
    height: 100%;
  }
}

.menu__navigation-item {
  @include title;
  font-size: var(--title);
  @include link($bottom: 1px, $stroke-width: 4px);
  color: hsl(var(--white));
  font-weight: 600;
}

.menu__signature {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1 1 30%;
  margin: 0 auto;
  @include text($font-size: var(--h3));
  color: hsl(var(--white));
  @media (min-width: 992px) {
    margin: auto 0 0 0;
  }
}

.menu__signature-title {
  font-weight: 800;
}
