@custom-media --outer-content-width (min-width: 1320px);
@custom-media --content-width (min-width: 1300px);

:root {
  // -------- COLORS
  --black: 0, 0%, 0%;
  --dark-grey: 0, 0%, 48%;
  --light-grey: 0, 0%, 82%;
  --white: 0, 0%, 100%;
  --blue: 206, 18%, 40%;
  --mid-blue: 216, 33%, 81%;
  --light-blue: 214, 100%, 99%;

  --primary: 0, 36%, 90%;
  --secondary: 0, 0%, 83%;

  // -------- CONTENT WIDTH

  --navigation-height: 60px;
  @media (min-width: 992px) {
    --navigation-height: 80px;
  }
  --navigation-padding: 20px;

  --content-width: 1280px;

  --outside-content-margin: 0px;
  @media (--outer-content-width) {
    --outside-content-margin: calc((100vw - var(--content-width)) / 2);
  }

  // -------- FONT SIZES

  --title: 40px;
  --h1: 32px;
  --h2: 24px;
  --h3: 20px;
  --h4: 18px;
  --h5: 16px;
  --h6: 14px;
  --p: 15px;
  --label: 14px;
  @media (min-width: 480px) {
    --title: 44px;
    --h1: 34px;
    --h2: 28px;
    --h3: 24px;
    --h4: 20px;
    --h5: 16px;
    --h6: 14px;
    --p: 15px;
    --label: 14px;
  }
  @media (min-width: 768px) {
    --title: 50px;
    --h1: 38px;
    --h2: 32px;
    --h3: 28px;
    --h4: 24px;
    --h5: 20px;
    --h6: 18px;
    --p: 16px;
  }
  @media (min-width: 992px) {
    --title: 60px;
    --h1: 44px;
    --h2: 36px;
    --h3: 30px;
    --h4: 26px;
    --h5: 22px;
    --h6: 20px;
    --p: 18px;
  }

  // -------- SHADOWS

  --shadow-100: 0 4px 8px rgba(0, 0, 0, 0.12);
  --shadow-200: 0 5px 10px rgba(0, 0, 0, 0.12);
  --shadow-300: 0 8px 30px rgba(0, 0, 0, 0.12);
  --shadow-400: 0 30px 60px rgba(0, 0, 0, 0.12);

  --blur: 5px;

  // -------- RADIUS

  --radius-100: 2px;
  --radius-200: 4px;
  --radius-300: 8px;
  --radius-400: 18px;
  --radius-500: 22px;
  --transition-easing: cubic-bezier(0.4, 0, 0.2, 1);
}
